KC_FEATURES=declarative-user-profile,scripts,client-policies

KC_DB=postgres
KC_DB_USERNAME={{ db.username | default('') }}
KC_DB_PASSWORD={{ db.password | default('') }}
KC_DB_URL=jdbc:postgresql://net_core_keycloak_postgres:5432/{{ db.db_name | default('') }}

KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true

KEYCLOAK_ADMIN={{ keycloak.username | default('') }}
KEYCLOAK_ADMIN_PASSWORD={{ keycloak.password | default('') }}