{% if kc_version in ['20.0.3', '22.0.3', '21.1.2', '23.0.7'] %}
KC_FEATURES=declarative-user-profile,scripts,client-policies
{% elif kc_version in ['24.0.5-0', '25.0.6'] %}
KC_FEATURES=scripts,client-policies
{% else %}
KC_FEATURES=scripts,client-policies,admin-fine-grained-authz:v1,organization
{% endif %}

KC_DB=postgres
KC_DB_USERNAME={{ db.username | default('') }}
KC_DB_PASSWORD={{ db.password | default('') }}
KC_DB_URL=jdbc:postgresql://net_core_keycloak_postgres:5432/{{ db.db_name | default('') }}

KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true

{% if kc_version in ['20.0.3', '22.0.3', '21.1.2', '23.0.7', '24.0.5-0', '25.0.6'] %}
KEYCLOAK_ADMIN={{ keycloak.username | default('') }}
KEYCLOAK_ADMIN_PASSWORD={{ keycloak.password | default('') }}
{% else %}
KC_BOOTSTRAP_ADMIN_USERNAME={{ keycloak.username | default('') }}
KC_BOOTSTRAP_ADMIN_PASSWORD={{ keycloak.password | default('') }}
{% endif %}
