{
    "baseUrl": "{{ keycloak.auth_url }}",
    "invalidBaseUrl": "http://localhost:8899",
    "auth_realm": "{{ keycloak.auth_realm }}",
    "client_id": "{{ keycloak.client_id }}",
    "admin":{
        "username": "{{ keycloak.username }}",
        "password": "{{ keycloak.password }}"
    },
    "testing_realm": {
        "name": "{{ realm }}",
        "public_client": {
            "client_id": "{{ keycloak.testing_realm_client_id }}"
        },
        "private_client": {
            "client_id": "{{ keycloak.testing_realm_auth_client_id }}",
            "client_secret": "{{ keycloak.testing_realm_auth_client_secret }}"
        },
        "user": {
            "username": "{{ keycloak.testing_realm_admin.username }}",
            "password": "{{ keycloak.testing_realm_admin.password }}",
            "permissions": [
                {
                    "name" : "auth_client",
                    "scopes": [
                        "Profile#Get"
                    ]
                }
            ]
        }
    }
}